*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(mesh.png);
}
.head{
    height: 69px;
    width: 100%;
    background-image: url("mesh.png");
    display: flex;
    
}
.head img{
    height: 69px;
    width: 9%;
}

.title{
    margin: 24px 105px;
    color: white;
    font-size: 30px;
}
.head input{
    height: 20px;
    width: 20%;
    margin: 23px 321px;
}
.nav{
    height: 28px;
    width: 100%;
    
    background-color: turquoise;
    
    
}
li a{
    text-decoration: none;
    color: blue;
    font-size: 20px;
    padding: 0px 7px;
    
    border-radius: 10px;
}

li{
    float: left;
    margin-top: 4px;
    margin-bottom: 1px;
    margin-left: 130px;
    margin-right: 10px;
    list-style: none;
    }
    .nav li a:hover{
        color: white;
        background-color: black;
    }
    

   
    
   